.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  gap: 2rem;
}

.title {
  color: #72035d;
  white-space: nowrap;
  font-weight: 600;
}

.subtitle {
  color: black;
  white-space: nowrap;
}
